* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo h1 {
    text-align: center;
    margin: 10px;
    font-family: 'Calligraffitti', cursive;
    font-size: 40px;
    color: red;
    font-weight: bold;
}

.head ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    position: sticky;
    top: 0;
}

.head ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 2px solid rgb(85, 84, 84);
}

.head ul li i {
    padding: 0 9px;
}

.head ul li:hover {
    background-color: rgb(85, 84, 84);
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 40px;
    text-align: center;
    margin-top: 20px;
    height: 100px;
    justify-items: center;
}

.cards h1 {
    padding: 10px;
}

.cards a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.cards div {
    transition: 0.3s;
}

.cards div:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 279px;
}